<h1>Register Form</h1>
  {{#if error}}
    <div class="error-box">
        {{#each error.messages}}
        <span class="error">{{this}}</span>
        {{/each}}
    </div>
    {{/if}}
<div class="form">
    <form action="/auth/register" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{{body.username}}">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <label for="repeatPassword">Re-Password</label>
        <input type="password" id="repeatPassword" name="repeatPassword">
        <input type="submit" value="Register">
    </form>
</div>