<section id="home-page" class="background-image">
    <div class="home-container">

        <div class="info">
            <h1>Discover Your Perfect Home</h1>
            <h2>The Best Real Estate Deals</h2>
        </div>

    </div>
</section>

<section id="top-houses">
    <h1>Top Houses</h1>
    <div class="houses">

        {{#each products}}
        <div class="card-home">
            <h2>{{name}}</h2>
            <div class="cta-container"><a href="/product/details/{{_id}}" class="details-link">Details</a></div>
            <div class="card_image"><img src="{{homeImage}}"></div>
        </div>
        {{else}}
        <!-- If there are still no offers for housing in the database display: -->
        <div class="no-data-container">
            <p class="no-data">There are no housing offers found...</p>
        </div>
        {{/each}}
    </div>
</section>