{{#with data}}
<form action="/details/{{_id}}/edit" method="post" class="cat-form" enctype="multipart/form-data">
    <h2>Edit Cat</h2>
    <label for="name">Name</label>
    <input type="text" id="name" value="{{name}}">
    <label for="description">Description</label>
    <textarea
        id="description">{{description}}</textarea>
    <label for="image">Image</label>
    <input type="file" id="image" value="asd">
    <label for="group">Breed</label>
    <select id="group">
        <option value="Fluffy Cat">{{breed}}</option>
    </select>
    <button>Edit Cat</button>
</form>
{{/with}}