<section class="catalog" id="catalog">
    <h2>Book Reviews</h2>
    <div class="container">
        {{#each products}}
        <!--If there are book reviews-->
            {{> book}}
        {{else}}
        <!--If there are no book reviews-->
        <h2 class="no-record">There are no book reviews found yet...</h2>
        {{/each}}
    </div>
</section>