body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*reset for h2*/
h2 {
    padding: 0;
    margin: 0;
}

.card {
    background-color: rgb(255, 255, 255);
    max-width: 25em;
    padding: 1em;
    border-radius: 0.4em;
    box-shadow: 0 0 1em 0.1em grey;
}