<!-- Catalog Page - Gaming Team -->

<main id="catalog">

    {{#if error}}
    <div>
        <div class="errorContainer">
            {{#each error.messages}}
            {{> error}}
            {{/each}}
        </div>
    </div>
    {{/if}}

    <section class="game-market">
        <h1>Game Trade Code</h1>

        {{#if games}}

        <div class="offer-list">
            {{#each games}}
            {{> game}}
            {{/each}}
        </div>

        {{else}}
        <div class="no-offer">
            <p>There are no game offers found!</p>
        </div>

        {{/if}}
    </section>
</main>