<!-- Search - Gaming Team -->
<main id="search">
    <section class="game-search">
        <h1>Search</h1>

        <form class="search-form" action="#" method="">
            <input type="text" class="search-game" name="" placeholder="Search here...">
            <select id="platform" name="">
                <option value="">-------</option>
                <option value="PC">PC</option>
                <option value="Nintendo">Nintendo</option>
                <option value="PS4">PS4</option>
                <option value="PS5">PS5</option>
                <option value="XBOX">XBOX</option>
            </select>
            <button type="submit" class="btn-search">Search</button>
        </form>

        <div class="search-result">
            <div class="search-list">
                <div class="game">
                    <div class="game-img">
                        <img src="./static/images/witcher-3.jpg">
                    </div>
                    <div class="game-info">
                        <h1>The Witcher 3</h1>
                        <p><span>Platform: </span>PC</p>
                        <p><span>Ganre: </span>RPG</p>
                        <p><span>Price: </span>$23</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>
            </div>
        </div>

        <!-- <div class="no-match">
                <p>No match was found!</p>
            </div> -->
    </section>
</main>