.site {
    width: 1552px;
    margin: 0 auto;
}

/* .main-header */

.main-header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-block: 1.5em;
    box-shadow: 0 17px 10px -10px #D9E4E8;
    position: relative;
}

.main-header h1 {
    font-size: 24px;
    padding-left: 4em;
    font-weight: 600;
}

.main-header nav {
    display: flex;
    gap: 1em;
    padding-right: 1em;
}

.main-header nav a {
    display: block;
    color: var(--black-color);
    font-weight: 600;
}

/* section-banner */

.section-banner {
    display: flex;
    gap: 8em;
    background-color: var(--light-blue-color);
    justify-content: center;
}

.section-banner img {
    flex: 0 1 37%;
    height: auto;
}

.section-banner .content-container {
    flex: 0 1 43%;
    align-self: center;
    padding-left: 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section-banner .content-container > p {
    font-weight: 500;
    width: 95%;
}

.section-banner .buttons-container {
    display: flex;
    gap: 2em;
}

.section-banner .buttons-container a {
    padding: 1.1em 5em;
    border-radius: 0.5em;
    font-weight: 600;
}


.section-banner .buttons-container .white-btn a {
    color: var(--black-color);
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
  
}

.section-banner .buttons-container .black-btn a {
    color: var(--white-color);
    background-color: var(--black-color);
}

/* section-motto */

.section-motto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-block: 2em;
}

.section-motto > p {
    font-weight: 600;
    text-align: center;
    max-width: 650px;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.section-motto .motto-container {
    display: flex;
    width: 90%;
    text-align: center;
    gap: 7em;
    padding-top: 2em;
}

.section-motto .motto-container article {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 1 1 30%
}

.section-motto .motto-container article h5 {
    letter-spacing: -1px;
    font-size: 1.6em;
}

.section-motto .motto-container article p:last-child {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}


.section-motto .motto-container .svg-icon i {
   font-size: 150px;
   color: var(--light-blue-color);
}

/* section-our-mission */

.section-our-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding-block: 5em;
    background-color: var(--light-blue-color);
}

.section-our-mission ul {
    width: 60%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    gap: 1em 7em
}

.section-our-mission ul li {
    display: block;
    font-size: 22px;
    font-weight: 600;
    position: relative;
}

.section-our-mission ul li::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--black-color);
    position: absolute;
    top: 2px;
    left: -28px;
}

.section-our-mission .our-mission-btn a {
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 1em 6em;
    border-radius: 0.5em;
    font-size: 0.9em;
}

/* section-animals */

.section-animals {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding-block: 3em;
    justify-content: center;
}

.section-animals h2,
.section-animals p {
    flex: 1 1 100%;
    text-align: center;
}

.section-animals p {
    letter-spacing: -0.5px;
    font-size: 18px;
}

.section-animals .img-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex: 0 1 90%;
    gap: 3em;
}

.section-animals .img-container img {
    width: 100%;
    height: auto;
}

/* section-how-we-work */

.section-how-we-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.section-how-we-work h4 {
    flex: 1 1 100%;
    text-align: center;
}

.section-how-we-work article {
    flex: 0 1 75%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    overflow: hidden;
}

.section-how-we-work article h6 {
    background-color: var(--light-blue-color);
    padding: 1.5em 2em;
}

.section-how-we-work article p {
    font-weight: 600;
    padding: 2em;
    font-size: 14px;
}