<div class="container">
        <form class="login" [formGroup]="loginForm" (ngSubmit)="handleSubmit()">

            <fieldset>
                <h2>Login Form</h2>

                <p class="field field-icon">
                    <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                    <input 
                    type="email" name="email" id="email" placeholder="john.doe@gmail.com" 
                    [appClassError]="loginForm"
                    [ngClass]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid ? 'input-error' : ''"
                    formControlName="email"
                    >
                </p>
                <ng-container *ngIf="loginForm.get('email')?.touched">
                    <p class="error" *ngIf="loginForm.get('email')?.errors?.['required']">
                        Email is required!
                    </p>
                    <p class="error" *ngIf="loginForm.get('email')?.errors?.['emailValidator']">
                        Email is not valid!
                    </p>
                </ng-container>
                

                <p class="field field-icon">
                    <label for="password"><span><i class="fas fa-lock"></i></span></label>
                    <input 
                    type="password" name="password" id="password" placeholder="******" 
                    [appClassError]="loginForm"
                    [ngClass]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid ? 'input-error' : ''"
                    formControlName="password"
                    >
                </p>
                
                <ng-container *ngIf="loginForm.get('password')?.touched">
                    <p class="error" *ngIf="loginForm.get('password')?.errors?.['required']">
                        Password is required!
                    </p>
                    <p class="error" *ngIf="loginForm.get('password')?.errors?.['minlength']">
                        Password must be at least 5 characters!
                    </p>
                </ng-container>
              

                <button 
                [disabled]="loginForm.invalid" 
                [ngStyle]="loginForm.invalid ? { 'background-color': 'grey'} : {'color' : ''}">Login</button>

                <p class="text-center">
                    Have an account?
                    <a routerLink="/register">Register</a>
                </p>

            </fieldset>
        </form>
    </div>
