.site {
    width: 1900px;
    margin: 0 auto;
}

/* HEADER */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 9em;
    background-color: var(--white-color);
    font-weight: 500;
}

.site-header .main-navigation ul {
    display: flex;
    gap: 3em;
}

.site-header .main-navigation ul li {
    list-style: none;
    display: block;
}

.site-header .account {
    display: flex;
}

.site-header .account a {
    color: var(--black-color);
    padding: 1em 1.5em;
    border-radius: 0.5em;
}

.site-header .account p:last-of-type a {
    background-color: var(--main-color);
}

/* download-section */

.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    padding-block: 5em;
}

.download-section .download-btns {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

/* stats-section */

.stats-section ul {
    display: flex;
    justify-content: center;
    padding-block: 5em;
}

.stats-section ul li {
    list-style: none;
    display: block;
    padding-inline: 1em;
    border-inline: 1px solid rgba(0, 0, 0, 0.2);
    flex: 0 1 27%;
    text-align: center;
}

.stats-section ul li h3 {
    padding-bottom: 1em;
}

.stats-section ul li p {
    padding-bottom: 4em;
}

/* advantages-section */

.advantages-section {
    display: flex;
    gap: 3em;
    justify-content: center;
    background-color: var(--main-color);
}

.advantages-section .img-container {
    flex: 0 1 25%;
    border: 2px dotted rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.advantages-section .content {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-section .content h3 {
    padding-bottom: 0.5em;
}

.advantages-section .content>p:nth-of-type(odd) {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.advantages-section .content .pricing-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-bottom: 2px solid black;
    padding-top: 2em;
    padding-bottom: 0.3em;
    width: fit-content;
}

.advantages-section .content .pricing-link a {
    color: black;

}

.advantages-section .content .pricing-link p {
    display: flex;
    align-content: center;
}