.site {
    width: 1900px;
    margin: 0 auto;
}

/* HEADER */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 9em;
    background-color: var(--white-color);
    font-weight: 500;
}

.site-header .main-navigation ul {
    display: flex;
    gap: 3em;
}

.site-header .main-navigation ul li {
    list-style: none;
    display: block;
}

.site-header .account {
    display: flex;
}

.site-header .account a {
    color: var(--black-color);
    padding: 1em 1.5em;
    border-radius: 0.5em;
}

.site-header .account p:last-of-type a {
    background-color: var(--main-color);
}

/* download-section */

.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    padding-block: 5em;
}

/* stats-section */

.stats-section ul {
    display: flex;
    justify-content: center;
    padding-block: 5em;
}

.stats-section ul li {
    list-style: none;
    display: block;
    padding-inline: 1em;
    border-inline: 1px solid rgba(0, 0, 0, 0.2);
    flex: 0 1 27%;
    text-align: center;
}

.stats-section ul li h3 {
    padding-bottom: 1em;
}

.stats-section ul li p {
    padding-bottom: 4em;
}

/* advantages-section */

.advantages-section {
    display: flex;
    gap: 3em;
    justify-content: center;
    background-color: var(--main-color);
}

.advantages-section .img-container {
    flex: 0 1 25%;
    border: 2px dotted rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.advantages-section .content {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-section .content h3 {
    padding-bottom: 0.5em;
}

.advantages-section .content>p:nth-of-type(odd) {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.advantages-section .content .pricing-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-bottom: 2px solid black;
    padding-top: 2em;
    padding-bottom: 0.3em;
    width: fit-content;
}

.advantages-section .content .pricing-link a {
    color: black;

}

.advantages-section .content .pricing-link p {
    display: flex;
    align-content: center;
}

/* price-section */

.price-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-block: 3em;
    background-color: var(--grey-color);
}

.price-section>p {
    background-color: var(--main-color);
    padding: 0.5em 1em;
    margin-inline: auto;
    border-radius: 0.5em;
}

.price-section>h3 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.price-section .container {
    display: flex;
    border-block: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    overflow: hidden;
}

.price-section .price-card-container {
    flex: 3 1;
    display: flex;
    padding-block: 2em;
    background-color: var(--white-color);
}

.price-section .expand-container {
    display: flex;
    flex-direction: column;
    flex: 2 1;
    background-color: var(--main-color);
    padding: 2em;
}

.price-section .price-card {
    flex: 1 1 10%;
    background-color: var(--white-color);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-inline: 1.5em;
}

.price-section .price-card h4 {
    text-align: center;
}

.price-section .price-card>p:first-of-type {
    font-size: 20px;
}

.price-section .price-card .price {
    font-size: 50px;
    font-weight: 600;
    padding-block: 0.5em;
}

.price-section .price-card .price-container {
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}

.price-section .price-card ul {
    padding-block: 2em;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.price-section li {
    list-style: none;
}

.price-section li::before {
    content: url('../images/check-solid.svg');
    display: inline-block;
    height: 100%;
    width: 16px
}

.price-section .price-card .btn-like-link {
    padding-top: 2em;
}

.price-section .price-card .btn-like-link a {
    display: block;
    color: var(--black-color);
    background-color: var(--main-color);
    text-align: center;
    padding-block: 1.5em;
    border-radius: 0.5em;
}

.price-section .expand-container h4 {
    text-align: center;
}

.price-section .expand-container>p:first-of-type {
    font-size: 30px;
    font-weight: 600;
}

.price-section .expand-container ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-block: 2em;
    font-weight: 500;
}

.price-section .expand-container .contact-us-button {
    margin-top: auto;
}

.price-section .expand-container .contact-us-button a {
    color: var(--white-color);
    background-color: var(--black-color);
    display: block;
    padding-block: 1.5em;
    border-radius: 0.5em;
    text-align: center;
}

.download-two-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 5em;
    background-color: var(--main-color);
}

.download-two-section>* {
    max-width: 800px;
    text-align: center;
}

.download-two-section>p {
    font-size: 28px;
}

.site-footer {
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
}

.site-footer .socials {
    display: flex;
    gap: 1em;
}