<form class="search" action="/search" method="get">
    <input type="search" name="search" value="{{body.search}}" placeholder="Search email...">
    <button type="submit" class="btn-search">
        <img src="/static/img/search-icon.png" alt="search-icon">
        Search
    </button>
</form>

{{#if isSearched}}
<section id="search-page">

    <h2>Search result:</h2>
    {{#each ads}}
    <article class="search-page-result">
        <p class="search-page-result-headline">Headline: {{headline}}</p>
        <p class="search-page-result-companyName">Company Name: {{companyName}}</p>
    </article>

    {{else}}

    <article class="search-page-no-result">
        <p class="search-page-no-result-message">No match found.</p>
    </article>
    {{/each}}
</section>
{{/if}}