@media (width <= 700px) {

    /* header */

    header .div-header {
        display: none;
    }
    
    header h3 {
        font-size: 0.5em;
    }
    
    header h1 {
        font-size: 1.1em;
    }

    header .button-header {
        margin-top: 5em;
        margin-bottom: 7.5em;
    }
    
    header .options {
        flex-wrap: wrap;
        padding-top: 0;
    }
    
    header .options article {
        flex: 1 1 100%;
        text-align: center;
        padding-bottom: 1.1em;
    }

    header .options article h4 {
        font-size: 0.85em;
    }

    header .options article a {
        display: none;
    } 

    /* gallery */

    .gallery {
        flex-wrap: wrap;
    }

    .gallery article div {
        display: none;
    }

    /* blog */
    .blog .blog-title {
        border-bottom-width: 1px;
    }

    .blog .blog-title h4 {
        font-size: 1.1em;
    }

    .blog .blog-title h4 span,
    .blog .blog-title a {
        display: none;
    }

    .blog article #about-blog {
       flex: 0 1 90%;
    }
    

    .blog article img {
        display: none;
    }

    .blog article #about-blog h3 {
        font-size: 0.9em;
        padding-top: 2em;
    }

    .blog article #about-blog p {
        font-size: 0.55em;
    }
}