/* GLOBAL STYLES */

.site {
    width: 1900px;
    margin: 0 auto;
}

/* HEADER */

.main-nav {
    background-color: var(--main-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 5em;
    padding-left: 4em;
    padding-right: 3em;
}

.main-nav ul {
    display: flex;
    gap: 2em;
}

.main-nav li {
    display: block;
}

.main-nav a {
    color: var(--black-color);
}

.buy-now-button {
    border: 1px solid var(--black-color);
    border-radius: 5px;
    padding: 0.5em 1em;
    background-color: var(--white-color);
}

/* SECTION => get-started */

.get-started {
    height: 750px;
    position: relative;
    overflow: hidden;
}

.get-started img {
    position: absolute;
    top: 0;
    z-index: -1;
    transform: translate(0, -29.5%);
}

.get-started .container {
    width: 720px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 190px;
    left: 320px;
}

.get-started .container h1 {
    margin-bottom: 1.5em;
}

.get-started .container p:first-of-type {
    margin-bottom: 3.5em;
    color: var(--white-color);
    font-size: 1.4em;
    font-weight: 600;
}

.get-started .container .get-started-button {
    color: var(--white-color);
    padding: 1.2em 2em;
    background-color: var(--black-color);
    border-radius: 5px;
}

/* SECTION => stats */

.stats ul {
    display: flex;
    justify-content: center; 
    gap: 2em;
    padding-block: 5em;
}

.stats ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.stats ul li > * {
    text-align: center;
}

.stats ul li h2 {
    color: var(--orange-color);
    font-size: 4em;
    padding-bottom: 0.7em;
}

.stats ul li p:first-of-type {
    font-size: 1.5em;
    font-weight: 500;
}

.stats ul li p:last-of-type {
    color: grey;
}

/* SECTION => articles */

.articles ul {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-block: 4em;
}

.articles p {
    font-size: 1.3em;
    color: var(--darkgrey-color)
}

.articles ul li {
    list-style: none;
    display: flex;
    gap: 1.5em;
    padding-inline: 5em;
}

.articles .img-container {
    flex: 0 1 630px;
}

.articles .img-container img {
    width: 100%;
    height: auto;
}

.articles .description {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-around;
}

.articles .description > p:first-child {
    font-size: 1.3em;
    font-weight: 600;
}

.articles .read-more a {
    display: block;
    color: var(--black-color);
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 0.5em;
    cursor: pointer;
}

/* SECTION => pricing */

.pricing {
    background-color: var(--darkwhite-color);
}

.pricing .container {
    width: 92%;
    margin: 0 auto;
    background-color: var(--white-color);
}

.pricing .container ul {
    display: flex;
    gap: 2.5em;
    padding: 3.5em;
}

.pricing .container ul li {
    list-style: none;
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2em;
    padding-block: 2em;
}

.pricing .free-plan {
    background-color: var(--orange-color);
    text-align: center;
    box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.2);
}

.pricing .paid-plan {
    background-color: var(--black-color);
    color: var(--white-color);
    text-align: center;
    box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.2);
}

.pricing .big-text {
    font-size: 4em;
    font-weight: 200;
    padding-block: 0.5em;
}

.pricing .container ul li:first-child p {
    padding-top: 2em;
    color: var(--darkgrey-color);
}

.pricing .container ul li p:first-child {
    font-size: 1.4em;
    font-weight: 600;
}

.pricing .container ul li p:last-child {
    padding-top: 3em;
    padding-bottom: 1em;
}

.pricing .learn-more-dark-button,
.pricing .learn-more-light-button {
    padding: 1em 1.5em;
    border-radius: 5px;
}

.pricing .learn-more-dark-button {
    background-color: var(--black-color);
    color: var(--white-color);
}

.pricing .learn-more-light-button {
    background-color: var(--white-color);
    color: var(--black-color);
}

/* FOOTER */

footer {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

footer ul {
    display: flex;
    height: 8em;
    width: 80%;
}

footer svg {
    width: 1.7em;
    height: auto;
    cursor: pointer;
}

footer ul li {
    display: flex;
    list-style: none;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}