.site {
    width: 1920px;
    margin: 0 auto;
}

/* HEADER */

.main-nav {
    background-color: var(--main-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 4em;
    padding-left: 4em;
    padding-right: 3em;
}

.main-nav ul {
    display: flex;
    gap: 2em;
}

.main-nav li {
    display: block;
}

.main-nav a {
    color: var(--black-color);
}

.buy-now-button {
    border: 1px solid var(--black-color);
    border-radius: 5px;
    padding: 0.5em 1em;
    background-color: var(--white-color);
}

/* GET-STARTED */

.get-started {
    height: 750px;
    position: relative;
    overflow: hidden;
}

.get-started img {
    position: absolute;
    top: 0;
    z-index: -1;
    transform: translate(0, -29.5%);
}

.get-started .container {
    width: 720px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 190px;
    left: 320px;
}

.get-started .container h1 {
    margin-bottom: 1.5em;
}

.get-started .container p:first-of-type {
    margin-bottom: 3.5em;
    color: var(--white-color);
    font-size: 1.4em;
    font-weight: 600;
}

.get-started .container .get-started-button {
    color: var(--white-color);
    padding: 1.2em 2em;
    background-color: var(--black-color);
    border-radius: 5px;
}