body {
    background-image: url(../background.png);
    padding: 1em 1em;
}

/* HEADER */

h1 {
    color: #840984;
}

h1 + p {
    text-transform: uppercase;
    letter-spacing: 'none';
    white-space: nowrap;
    font-size: 15px;
    opacity: 0.6;
}

.main-nav {
    display: none;
}

.button-nav {
    height: 1em;
    width: auto;
    display: flex;
    gap: 0.3em;
}

.button-nav svg {
    height: 100%;
    width: auto;
}

.button-nav button {
    border: none;
    background-color: unset;
    line-height: 16px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* First-Section */

.first-section {
    display: flex;
    gap: 1em;
}

.first-section .text-container {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.first-section svg {
    flex: 0 1 100px;
}

.first-section a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    padding: 0.3em 1em;
    border: 2px solid black;
    border-radius: 3px;
    align-self: flex-start;
}

/* Our-Team-Section */

.section-our-team h2 {
    font-weight: 500;
    display: block;
    letter-spacing: -1px;
}

.section-our-team h2::after {
    content: '';
    width: 80px;
    height: 1px;
    display: block;
    margin: 0.5em auto;
    border-top: 2px solid black;
}

.section-our-team {
    text-align: center;
}

.section-our-team ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2.5em 1em; 
    list-style: none;
}

.section-our-team li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-our-team .image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0 0 1.5em 0.5em rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-bottom: 2em;
    position: relative;
}

.section-our-team .image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.2);
}

.image-container img {
    width: 100%;
    height: auto;
    box-shadow: inset 0 0 0px 10px rgba(0, 0, 0, 1);
}

.section-our-team p:last-child {
    margin-top: 1em;
    font-style: italic;
}

.section-our-team h6 {
    font-weight: bold;
}