body {
    background-image: url(../background.png);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin-inline: auto;
    padding-top: 1em;
}

h1 {
    color: #840984;
}

h1 + p {
    text-transform: uppercase;
    letter-spacing: 'none';
    white-space: nowrap;
    font-size: 15px;
    opacity: 0.6;
}

.main-nav {
    display: none;
}

.button-nav {
    height: 1em;
    width: auto;
    display: flex;
    gap: 0.3em;
}

.button-nav svg {
    height: 100%;
    width: auto;
}

.button-nav button {
    border: none;
    background-color: unset;
    line-height: 16px; 
}

/* First-Section */

.first-section {
    display: flex;
    gap: 1em;
    max-width: 90%;
    margin-inline: auto;
}

.first-section .text-container {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.first-section svg {
    flex: 0 1 100px;
}

.first-section a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    padding: 0.3em 1em;
    border: 2px solid black;
    border-radius: 3px;
    align-self: flex-start;
}

/* Our-Team-Section */

.section-our-team {
    max-width: 80%;
    margin-inline: auto;
}

.section-our-team p:last-child {
    margin-top: 1em;
    font-style: italic;
}

.section-our-team h6 {
    font-weight: bold;
}

/* Section-Sign-Up*/

.section-sign-up {
    background-color: #68347B;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5em 0 3em 0;
    gap: 1em;
}

.section-sign-up h2 {
    text-align: center;
    flex: 1 1 90%;
    color: white;
    font-weight: 500;
    letter-spacing: -1px;
}

.section-sign-up form {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5em;
    max-width: 400px;
    width: 100%;
}

.section-sign-up form > input {
    border: 2px solid black;
    border-radius: 2px;
}

.section-sign-up form [type="text"] {
    outline: none;
    flex: 8 1;
}

.section-sign-up form [type=submit] {
    font-size: 10px;
    font-weight: bold;
    padding: 0.9em;
    flex: 2 1;
}

/* Section-Testimonials */

.section-testimonials {
    max-width: 80%;
    margin-inline: auto;
    padding-bottom: 7em;
}

.section-testimonials p:first-of-type {
    opacity: 0.8;
    padding-bottom: 1em;
}

.section-testimonials h6 {
    font-weight: bold;
}

.section-testimonials p:last-of-type {
    opacity: 0.8; 
}

/* Footer */

footer {
    padding-block: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* --- */

.footer-info {
    flex-basis: 90%;
}

.footer-info p {
    padding-block: 1em;
}

/* --- */

.footer-sitemap {
    flex-basis: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding-bottom: 1em;
}

.footer-sitemap ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2em;
}

.footer-sitemap a {
    text-decoration: none;
    color: black;
}

.footer-sitemap h5 {
    flex-basis: 100%;
}

.footer-sitemap li {
    display: block;
}

/* --- */

.footer-contacts {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer-contacts li {
    display: flex;
    gap: 0.5em;
}

.footer-contacts li + li {
    padding-top: 0.5em;
}

.footer-contacts li:last-of-type p {
    display: flex;
    flex-direction: column;
}

footer svg {
    height: 1em;
    width: auto;
}

@media (width > 480px) {
    .first-section .text-container {
        flex: 0 0 60%;
    }

    .first-section svg {
        flex: 0 0 150px
    }
}