@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    box-sizing: inherit
}

/* :root {
    --white-space: 2em;
} */

html {
    font-size: 16px;
    line-height: 1.1;
    box-sizing: border-box;
}

button,
input {
    font-size: inherit;
    line-height: inherit;
}

section {
    margin-top: 4em;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 1.1;
}

h1 { font-size: 2.2em;}
h2 { font-size: 2.0em;}
h3 { font-size: 1.6em;}
h4 { font-size: 1.4em;}
h5 { font-size: 1.2em;}
h6 { font-size: 1.0em;}

h1 + p {
    font-family: 'League Gothic', sans-serif;
}