<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <ul>
                <ng-container *ngTemplateOutlet="isLogin ? forUserTemplate : forGuestTemplate"></ng-container>

                <ng-template #forUserTemplate>
                    <li>
                        <a routerLink="/profile">John's profile</a>
                    </li>
                    <li>
                        <a routerLink="/auth/logout">Logout</a>
                    </li>
                </ng-template>

                <ng-template #forGuestTemplate>
                    <li>
                        <a routerLink="/auth/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/auth/register">Register</a>
                    </li>
                </ng-template>

            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/themes">Themes</a>
            </li>
            <li>
                <a routerLink="/new-theme">New Theme</a>
            </li>
        </ul>
    </nav>

</header>