@media (width <=600px) {

    /* .home-container {
        width: 100vw;
    } */

    /* SECTION => home-navbar-container */

    .home-navbar-container .home-navbar {
        justify-content: space-around;
        padding-right: 0;
    }

    .home-navbar-container .home-cta-btn {
        padding-inline: 10px;
    }

    /* SECTION => home-hero */

    .home-hero {
        flex-direction: column-reverse;
    }

    .home-image1 {
        width: 100%;
    }

    .home-hero-text-container {
        width: 100%;
        margin-left: 0;
    }

    .home-hero-text-container .home-cta-btn2 {
        align-self: center;
        padding-inline: 1em;
    }

    /* SECTION => home-features */

    .home-features {
        height: auto;
    }

    .home-features .home-heading-container {
        width: 100%;
    }

    .home-features .home-cards-container {
        flex-direction: column;
        align-content: center;
        gap: 2em;
    }

    .home-features .home-cards-container>* {
        width: 100%;
    }

    .home-features .home-cards-container .home-image2 {
        zoom: 120%;
    }

    /* SECTION => home-stats */

    .home-stats {
        grid-template-columns: 1fr;
        margin-top: 3em;
    }

}