{{#with hotel}}
<section id="viewhotelDetails">
    <h2>Details</h2>
    <div class="hotel-ticket">
        <div class="hotel-left">
            <img src="{{imgUrl}}" alt="">
        </div>
        <div class="hotel-right">
            <div>
                <h3>{{name}}</h3>
            </div>
            <div>
                {{city}}
            </div>
            <p><span>Free rooms: {{freeRooms}}</span> </p>
            <p><span class="green">You already have booked a room</span> </p>

            <a href="" class="book">Book</a>
            <a href="" class="edit">Edit</a>
            <a href="" class="remove">Delete</a>
        </div>
    </div>
</section>
{{/with}}